<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>
    </title>
    <style>
        body { font-family:'Times New Roman'; font-size:10pt }
        h2, p { margin:0pt }
        h2 { text-align:center; page-break-after:avoid;
            font-family: 'Times New Roman', serif; font-size:10pt; font-weight:bold; font-style:normal }
        .BalloonText {
            font-family: Tahoma, serif; font-size:8pt }
        span.TextedebullesCar {
            font-family: Tahoma, serif; font-size:8pt }
        span.Titre2Car {
            font-family: 'Times New Roman', serif; font-size:10pt; font-weight:bold }
        @media (max-width: 900px) {
            img {
                max-width: 100%;
                height: auto;
            }

            .table-container {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            td, th {
                padding: 8px;
                text-align: left;
                border: 1px solid #ddd;
            }
        }


    </style>
</head>
<body>
<p style="font-size:14pt">
    <strong>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </strong>
</p>
<p style="font-size:14pt">
    <strong>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </strong><strong>REPUBLIQUE TUNISIENNE</strong><strong><span style="width:1.19pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; display:inline-block">&#xa0;</span></strong>
</p>
<h2 style="text-align:left; line-height:16pt">
    <span style="font-size:14pt">
        {% for ministere in ministeres %}
            {{ ministere.nom }}<br>
        {% endfor %}
    </span>
</h2>
<p style="font-size:14pt">
    <strong>Office de l’Aviation Civile et des Aéroports</strong>
</p>
<p style="text-align:center; font-size:16pt">
    &#xa0;
</p>
<p style="text-align:center; font-size:16pt">
    &#xa0;
</p>
<p style="text-align:center; line-height:150%; font-size:16pt">
    <strong><span style="font-variant:small-caps">A U T O R I S A T I O N</span></strong><strong><span style="font-variant:small-caps">&#xa0;&#xa0; </span></strong><strong><span style="font-variant:small-caps">T E M P O R A I R E</span></strong>
</p>
<p style="text-align:center; line-height:150%; font-size:18pt">
    <strong><em><span style="font-variant:small-caps">t e</span></em></strong><strong><em><span style="font-variant:small-caps">&#xa0; </span></em></strong><strong><em><span style="font-variant:small-caps">m</span></em></strong><strong><em><span style="font-variant:small-caps">&#xa0; </span></em></strong><strong><em><span style="font-variant:small-caps">p o r a r y</span></em></strong><strong><em><span style="font-variant:small-caps">&#xa0;&#xa0; </span></em></strong><strong><em><span style="font-variant:small-caps">a u t h o r i z a t i o n</span></em></strong>
</p>
<p style="text-align:center; font-size:16pt">
    <strong><em><span style="font-variant:small-caps">N° ..............</span></em></strong>
</p>
<p style="text-align:center; font-size:16pt">
    <strong><span style="font-family:'Bookman Old Style',serif; font-variant:small-caps">&#xa0;</span></strong>
</p>
<p style="text-align:center; line-height:12pt">
    <strong><span style="font-family:'Bookman Old Style',serif; font-size:16pt; font-variant:small-caps">&#xa0;</span></strong>
</p>
<p style="font-size:13pt">
    <strong>Nom</strong><strong>&#xa0;</strong><strong><span style="font-family:'Bookman Old Style',serif; ">/</span></strong><em>Surname</em><em>&#xa0;</em><em><span style="width:18.96pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><strong>:</strong><strong>&#xa0; </strong>{{ pilote.nom }}
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="font-size:14pt">
    <strong><span style="font-size:13pt; ">Prénom</span></strong><strong><span style="font-family:'Bookman Old Style',serif; font-size:13pt; ">/</span></strong><em><span style="font-size:13pt; ">First name</span></em><em><span style="width:33.07pt; font-size:13pt; display:inline-block">&#xa0;</span></em><strong><span style="font-size:13pt; ">:</span></strong><strong><span style="font-size:13pt; ">&#xa0; </span></strong>{{ pilote.prenom }}
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="font-size:14pt">
    <strong><span style="font-size:13pt; ">Né(e) le </span></strong><strong><span style="font-family:'Bookman Old Style',serif; font-size:13pt; ">/</span></strong><em><span style="font-size:13pt; ">Date of birth</span></em><em><span style="width:21.17pt; font-size:13pt; display:inline-block">&#xa0;</span></em><strong><span style="font-size:13pt; ">: </span></strong>{{ pilote.datebirth|date('d/m/Y') }}
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="font-size:14pt">
    <strong><span style="font-size:13pt; ">Nationalité </span></strong><strong><span style="font-family:'Bookman Old Style',serif; font-size:13pt; ">/ </span></strong><em><span style="font-size:13pt; ">Citizenship</span></em><em><span style="width:6.24pt; font-size:13pt; display:inline-block">&#xa0;</span></em><strong><span style="font-size:13pt; ">:</span></strong><em><span style="font-size:13pt; ">&#xa0;</span></em>{{ pilote.nationalite }}
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="font-size:14pt">
    <strong><span style="font-size:13pt; ">Nature de la licence </span></strong><strong><span style="width:28.97pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="font-size:13pt; ">:</span></strong><strong><span style="font-size:13pt; ">&#xa0; </span></strong>  {{ pilote.getTypeLabel() }} (A)<strong><span style="width:5.54pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="font-size:13pt; ">&#xa0;&#xa0; </span></strong><strong><span style="width:25.65pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="font-size:13pt; ">Pays de la licence :</span></strong><strong><span style="font-size:13pt; ">&#xa0; </span></strong>{{ pilote.pays }}
</p>
<p style="font-size:14pt">
    <em><span style="font-size:13pt; ">Licence type</span></em><em><span style="width:5.48pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="font-size:13pt; "> </span></em><em><span style="width:32.15pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="font-size:13pt; ">&#xa0; </span></em><em><span style="width:28.9pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></em><em><span style="font-size:13pt; ">(Licensing country)</span></em><em><span style="font-size:13pt; ">&#xa0;</span></em><em><span style="font-size:13pt; "> </span></em>
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>

<p style="font-size:14pt">
    <strong><span style="font-size:13pt; ">Numéro</span></strong><strong><span style="width:25.31pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="font-size:13pt; ">:</span></strong><strong><span style="font-size:13pt; ">&#xa0;&#xa0;&#xa0; </span></strong>{{ pilote.numero }}<span style="width:32.47pt; display:inline-block">&#xa0;</span><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><span style="width:35.4pt; display:inline-block">&#xa0;</span><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span><span style="font-size:13pt">&#xa0;&#xa0; </span><span style="width:25.65pt; font-size:13pt; display:inline-block">&#xa0;</span> <strong><span style="font-size:13pt; ">Valide jusqu’au</span></strong><strong><span style="font-size:13pt; ">&#xa0;</span></strong><strong><span style="font-size:13pt; ">: </span></strong><span style="font-size:13pt">30/01/2022</span>
</p>
<p style="font-size:13pt">
    <em>(Number) </em><em><span style="width:17pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em>&#xa0;&#xa0; </em><em><span style="width:25.65pt; display:inline-block">&#xa0;</span></em><em> (Valid until)</em><em>&#xa0;</em>
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="text-align:justify; font-size:13pt">
    <strong>Fonction à bord :</strong><strong><span style="width:6.53pt; display:inline-block">&#xa0;</span></strong>

    <!-- Condition for "Double / Dual" -->
    <strong>Double</strong>
    <strong><span style="font-family:'Bookman Old Style',serif;">/</span></strong><em>Dual</em>
    <strong>
        <span style="font-family:Wingdings,serif;">
            {% if pilote.fonction == 'Double / Dual' %}
                 <!-- Checked box for Double/Dual -->
            {% else %}
                 <!-- Unchecked box -->
            {% endif %}
        </span>
    </strong>

    <!-- Spacing -->
    <strong>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</strong>

    <!-- Condition for "1er pilote / PIC" -->
    <strong>1</strong><strong><span style="font-size:8.67pt;"><sup>er</sup></span></strong><strong> pilote </strong>
    <strong><span style="font-family:'Bookman Old Style',serif;">/</span></strong><em>PIC</em>
    <strong>
        <span style="font-family:Wingdings,serif;">
            {% if pilote.fonction == '1er pilote / PIC' %}
                 <!-- Checked box for 1er pilote / PIC -->
            {% else %}
                 <!-- Unchecked box -->
            {% endif %}
        </span>
    </strong>

    <!-- Spacing -->
    <strong>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</strong>

    <!-- Condition for "2ème pilote / Co-pilot" -->
    <strong>2</strong><strong><span style="font-size:8.67pt;"><sup>ème</sup></span></strong><strong> pilote </strong>
    <strong><span style="font-family:'Bookman Old Style',serif;">/</span></strong><em>Co-pilot</em>
    <strong>
        <span style="font-family:Wingdings,serif;">
            {% if pilote.fonction == '2ème pilote / Co-pilot' %}
                 <!-- Checked box for 2ème pilote / Co-pilot -->
            {% else %}
                 <!-- Unchecked box -->
            {% endif %}
        </span>
    </strong>
</p>

<p style="font-size:13pt">
    <em>(Pilot</em><em>&#xa0; </em><em>function)</em><em><span style="width:23.16pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em><em><span style="width:35.4pt; display:inline-block">&#xa0;</span></em>
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="text-align:left; font-size:13pt">
    <strong>- Est autorisé à exercer les privilèges de sa licence et ses qualifications à bord des aéronefs de type</strong>
    <strong>{{ pilote.avion.nom }}</strong><strong>&#xa0; </strong>
    <strong><span style="font-size:13pt;">exploités par </span></strong><strong>{{ pilote.compagnie.nom }}</strong>
    <strong><span style="font-family:'Bookman Old Style',serif; font-size:13pt;">/</span></strong>
    <em><span style="font-size:13pt;">Is authorized to exercise the privileges of his licence and ratings on board of </span></em>
    {{ pilote.avion.nom }} <em><span style="font-size:13pt;">{{ pilote.compagnie.nom }}</span></em>
    <em><span style="font-size:13pt;">&#xa0;</span></em><em><span style="font-size:13pt;">Aircraft.</span></em>
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="text-align:left; font-size:13pt">
    <strong>- Les privilèges de cette autorisation temporaire doivent être exercés uniquement avec un Certificat medical en cours de validité</strong>
    <strong><span style="font-family:'Bookman Old Style',serif;">/</span></strong>
    <span style="font-size:10pt"></span><em>The privileges of this temporary authorization shall be exercised only if the holder has a valid medical certificate.</em>
</p>
<p style="text-align:justify; font-size:14pt">
    &#xa0;
</p>

<p style="font-size:14pt">
    <strong><span style="font-size:13pt; ">Délivrée le</span></strong><strong><span style="font-size:13pt; ">&#xa0;</span></strong><span style="font-size:13pt; ">: {{ pilote.validite ? pilote.validite|date('d/m/Y') : '' }}</span><strong><span style="width:19.22pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="width:35.4pt; font-size:13pt; display:inline-block">&#xa0;</span></strong><strong><span style="font-size:13pt; ">Valide jusqu’au</span></strong><strong><span style="font-size:13pt; ">&#xa0;</span></strong><strong><span style="font-size:13pt; ">: </span></strong>30/01/2022<strong><span style="width:13.89pt; font-size:13pt; display:inline-block">&#xa0;</span></strong>
</p>
<p style="text-align:justify; font-size:13pt">
    <em>(issued on)</em><em>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </em><em><span style="width:33.69pt; display:inline-block">&#xa0;</span></em><em>(Valid until)</em><em>&#xa0;</em>
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="font-size:13pt">
    <strong>&#xa0;</strong>
</p>
<p style="font-size:13pt">
    <strong><span style="width:35.4pt; display:inline-block">&#xa0;</span></strong>
</p>
<p style="text-align:center; font-size:13pt">
    <strong><span style="font-family:'Bookman Old Style',serif; text-transform:uppercase">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span></strong>
</p>
<p style="text-align:center; font-size:13pt">
    <strong><span style="font-family:'Bookman Old Style',serif; text-transform:uppercase">Airworthiness Director</span></strong>
</p>
<p style="text-align:center; font-size:13pt">
    <strong><span style="font-family:'Bookman Old Style',serif; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; font-size:13pt">
    <strong><span style="font-family:'Bookman Old Style',serif; text-transform:uppercase">Anis BEN HADJ NASR</span></strong>
</p>
<p style="text-align:right">
    &#xa0;
</p>

</body>
</html>